<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <!--フォロー情報の追加-->
  <tr>
    <th>follows</th>
    <th>
      <%= link_to follows_user_path(user) do %>
        <%= user.active_relationships.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_path(user) do %>
        <%= user.passive_relationships.count %>
      <% end %>
    </th>
  </tr>

</table>

<!--ゲストユーザは編集ボタンが現れない-->
<!--定数の方は使えない？？-->
<!--退避と交換（インスタンス係数を介して、ビューで使える形に変更する必要がある）-->
<% unless user.guest_user? %>
  <div class='row'>
    <!--本人の場合、編集リンク、本人以外の場合、フォローのリンク-->
    <% if user == current_user %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% else %>
      <% if user.followed_by?(current_user) %>
        <%= link_to "フォローを外す", user_relationship_path(user.id), method: :delete, class: "btn btn-block btn-danger" %>
      <% else %>
        <%= link_to "フォローする", user_relationship_path(user.id), method: :post, class: "btn btn-block btn-success" %>
      <% end %>
    <% end %>
  </div>
<% end %>
