<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>

    <!--formwithの中から部分テンプレートの呼び出しを出す？？-->
    <%= render 'layouts/errors', obj: @user %>

    <%= form_with model:@user, local:true do |f| %>
      <div class="form-group">
        <!--title→name-->
        <%= f.label :name %>
        <!--title→name-->
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <!--ボタンの表記を指定-->
        <%= f.submit "Update user", class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
