<div class='container'>

  <!--エラーの部分テンプレートを呼び出す-->
  <div class='row'>
    <!--渡す変数を直接Book.newで指定-->
    <%= render 'layouts/errors', obj: Book.new %>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <!--渡すインスタンス変数を追記-->
      <%= render 'users/info', user: @user %>

      <h2 class="mt-3">New book</h2>
      <!--showページだと@bookにはfindで特定したデータが入ってしまう→モデルで直接定義する-->
      <%= render 'form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <!--link_toの行き先がインスタンス変数では遷移できないのでは？、、、-->
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

            <!--本人以外はボタンが表示されないようにする-->
          <% if @user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
          <!--urlを指定-->
          <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>

          <!--いいねの追加-->
          <td>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to book_favorite_path(@book.id), method: :delete do %>
                ♥<%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorite_path(@book.id), method: :post do %>
                ♡<%= @book.favorites.count %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>

      <div>
      <!--投稿されたコメントの表示-->
      <% @book.book_comments.each do |comment| %>
        <%= image_tag comment.user.get_profile_image, size:"50x50" %>
        <%= comment.user.name %>
        <%= comment.comment %>
        <!--本人の場合のみ削除ボタンが表示されるよう設定-->
        <% if comment.user == current_user %>
          <!--パスに引数を指定して本とコメントの両方を特定する必要がある-->
          <%= link_to "Destroy", book_book_comment_path(comment.book, comment), method: :delete %>
        <% end %>
      <% end %>
      </div>

      <!--コメント投稿欄の追加-->
      <!--モデルはbookに紐づいたコメントであるため両方指定する必要あり-->
      <div>
        <%= form_with model:[@book, @comment] do |f| %>
          <%= f.text_area :comment, row:'3', placeholder: "Comment here!" %>
          <%= f.submit "Submit" %>
        <% end %>
      </div>

    </div>
  </div>
</div>