<div class="d-flex justify-content-center mb-2">
  <div class="container">
    <div class="row">
<!--ユーザーがログインしている場合のみ表示-->

      <div class="col-md-5 offset-1">
        <% if user_signed_in? %>
          <!--入力結果はsearchアクションへ、フォームをローカルで処理する場合trueにする-->
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <!--【？】フォームに入れたキーワードをcontentに入れるということ？-->
            <%=f.text_field :content %>
            <!--セレクトボックスを作成、options_~でセレクトボックスの選択肢を定義、表示名＝＞モデル名-->
            <%= f.select :model, options_for_select({"User"=>"user","Book"=>"book"}) %>

            <%= f.select :method, options_for_select({"完全一致"=>"perfect","前方一致"=>"forward","後方一致"=>"backward","部分一致"=>"partial"}) %>
            <%= f.submit "検索" %>
          <% end %>
      </div>

      <div class="col-md-5 ">
        <%= form_with url: tag_search_path, method: :get, local: true do |f| %>
          <%=f.text_field :tag %>
          <%= f.submit "Tag検索" %>
        <% end %>

      <% end %>
      </div>
    </div>
  </div>
</div>
