<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--順番入れ替え（意味ない？→関係ない）-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--自身のKitを張りなおす-->
    <script src="https://kit.fontawesome.com/7ae0cf8aaf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <main>
        <!--これはいるのか？-->
        <!--これがないからフラッシュメッセージが出なかったんだ！修正-->
        <p id="notice"><%= notice %></p>

        <!--検索ボックスの呼び出し、変数がないので定義の必要なし-->
        <div>
          <!--ルートパスには表示させたくない-->
          <!--userの編集ページも表示させたくない→ログイン前だとエラーが出てしまう→今後勉強しよう、、、-->
          <% unless current_page?(root_path) %>
          <!--記載をやめたコード：||current_page?(edit_user_path(current_user.id))-->
            <%= render 'searchs/search' %>
          <% end %>
        </div>

        <!--他のビューを表示されるところにyieldを記載する必要がある-->
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
